<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>Anuncios</h2>
    <% anuncios.forEach(anuncio => { %>
      <div class="box">
        <img src="/images/<%= anuncio.foto %>" alt="<%= anuncio.nombre %>" height="200" width="200">
        <% if(anuncio.venta){ %>
          <h4>Venta!</h4>
        <% } else{ %>  
          <h4>Compra!</h4>
        <% } %>
        <p><%= anuncio.nombre %> vale <%= anuncio.precio %> Euros</p>
        <p>Categorías: <%= anuncio.tags %></p>
      </div>
    <% }) %>
  </body>
</html>
